<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstlinetestapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapters.ui.activities.SecondActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.firstline.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.firstline.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".chapters.ui.activities.ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".chapters.ui.activities.RecycleViewActivity" />
        <activity android:name=".chapters.ui.activities.StaggeredActivity" />
        <activity android:name=".chapters.ui.activities.FragmentTestActivity" />
        <activity android:name="com.Practices.newsFragmentPractise.ui.activities.NewContentActivity" />
        <activity android:name="com.Practices.newsFragmentPractise.ui.activities.NewsFragmentMainActivity" />

        <receiver
            android:name=".chapters.broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapters.broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".PracticesGuideActivity"></activity>
    </application>

</manifest>